# dependencies

# environment variables (mengandung password)
.env

# uploaded files (gambar laporan, fasilitas, dll.)
uploads/

SmartCity-Project.code-workspace

# logs (opsional)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db